html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  overflow-y: auto;
}

a{
  color:black !important;
  text-decoration: none !important;
  &:hover{
      color:darkgreen !important;
      font-weight: normal !important;
  }
}

* {
  box-sizing: border-box;
}


/* Layout */
a::before{
  content: " ";
}

a:hover{
  font-weight: bold;
}

.no-gte::before{
  content: "";
}

header{
  height:60px;
  padding-top:6px;
  border-bottom: 1px dashed #ccc;
  padding-left:5px;
  margin-bottom:20px;
  a, span{
    margin-right:30px;
  }
}

.user-menu{
  float:right;
  padding-top:13px;
}

header div{
  float:left;
}

.page-title{
  font-weight: bold;  
  font-size:1.5em;
  margin-top:10px;
  margin-left:5vw;
}

.pointer{
  cursor: pointer;
}

.main-content{
  float:left;
  width: calc(100% - 220px);
  @media (max-width:768px) {
    width: calc(100% - 40px) !important;
  }  
  padding-left:40px;
}

.full-width{
  width:calc(100% - 60px);
  margin-left:40px;
  transition: all 1s;
}

.shrink-width{
  @media(min-width:769px){
    margin-left: 200px;
    transition: all 1s;
  }
}

.table{
  font-size:14px;
  line-height: 15px;
}

svg{
  path{
    fill:darkgreen;
  }
}

.code{
  font-family: 'Courier New', Courier, monospace;
  font-size:12px;
  color:rgb(167, 167, 167);
}

.Toastify__progress-bar--success{
  background-color: darkgreen;
}

.btn{
  &:hover{
    color:white !important;
  }  
}

.input-group-prepend{
  min-width:100px;
}

.custom-select{

}

.cursor-pointer{
  cursor: pointer;
}

nav{
  li{
    a{
      cursor: pointer;
    }
    &.disabled{
      a{
        color: lightgray !important;
      }
      
    }
  }
}

.mt-m{
  margin-top:30vh;
}

.required{
  color:red;
}

.mr-2{
  margin-right: 10px;
}

.green-label{
  color:white;
  background: green;
  padding:5px 12px;
  border-radius: 5px
}

.data-table{
  padding: 10px;
  margin-bottom: 10px;
  tr, th, td{
    border: 1px solid gray;
    border-collapse: collapse;
    padding:10px;
  }
  td{
    font-family: 'Courier New', Courier, monospace;
    font-size:14px;
  }
}

.orange{
  background:orange;
  border:1px solid black;
  width:100px;
  text-align: center;
  font-weight: bold;
}

.blue{
  background:lightblue;
  border:1px solid black;
  width:100px;
  text-align: center;
  font-weight: bold;
}

.red{
  background:red;
  border:1px solid black;
  color:white;
  width:100px;
  text-align: center;
  font-weight: bold;
}

.default{
  background:gray;
  border:1px solid black;
  color:white;
  width:100px;
  text-align: center;
  font-weight: bold;
}

textarea{
  width:100%;
  border:1px solid #ced4da;
}

.action-history{
  height:80vh;
  overflow: auto;
  border:1px solid lightgray;
  padding-top: 0;
  h6{
    position:sticky;
    top:0px;
    background:white;
    padding:10px 0;
    z-index:8888;
  }
}

.wysiwyg{
  height:500px;
  margin-bottom:50px;
  clear: both;
}

/* timeline */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;

  .content {
    padding: 20px 30px;
    background-color: lightgray;
    color:black;
    position: relative;
    border-radius: 6px;
    box-sizing: border-box;
  }
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: green;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container-tl {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  box-sizing: border-box;
}

.container-tl::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: -5px;
}

.right {
  left: calc(50% + 3px);
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent lightgray;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent lightgray transparent transparent;
}

.right::after {
  left: -16px;
}


@media screen and (max-width: 960px) {
  .timeline::after {
    left: 28px;
  }
  
  .container-tl {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }
  
  .container-tl::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }
  
  .right {
    left: 0%;
  }
}

.shell{
  background:black;
  color:white;
  height:300px;
  textarea{
    width:100%;
    height:100%;
    background:black;
    color:white;
    border:none;
    font-family: 'Courier New', Courier, monospace;
    &:hover, &:focus, &:focus-visible{
      border:none !important;
      outline:none;
    }
  }
}